.App-logo {
    height: 80px;
}

.App-title {
    font-size: 1.5em;
}

.App-header {
    background-color: #222222;
    height: 150px;
    padding: 20px 40px;
    color: white;
    text-align: center;
}

.form-outline {
    margin-top: 10px;
}

.form-button {
    margin-top: 15px;
}

.clickable:hover {
    cursor: pointer;
}

.dashboard-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.button-container-right {
    display: flex;
    justify-content: flex-end;
    width: 100%; /* Adjust as needed */
}

.button-container-two-sides {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust as needed */
}

.heart-vote {
    cursor: pointer;
    color: red;
}

.heart-no-vote {
    cursor: pointer;
    color: grey
}
